# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
*.db
/keep sake
/run
/.idea
/build
/src/main/resources/gtuassets1.14
/antimatter
/logs
